* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: scroll;


}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

canvas{
  width: 100%;
  height:100%;
  position: relative;
}